.calculadora{
    display:block;
    margin:0 auto;
    padding:20px;
    background-color:darkgrey;
    width:490px;
    height:875px;
    border-radius: 25px;
  }
  .calculadora div button{
    display:block;
    width:70px;
    height: 70px;
    font-size: 25px;
    margin: 0.3em;
  }
  #creditos{
    display:block;
    padding-top:20px;
    color:#fff;
    text-align: center;
    width:300px;
  }
  #resultado{
    display:block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width:400px;
    height: 100px;
    line-height: 100px;
    background-color:#fff;
    border-radius: 25px;
    overflow-y: scroll;
  }

  .gris{
      background-color: darkturquoise;
  }

  .operacion {
    background-color: lightcoral;
  }

  .fila{
    display: inline-flex;
  }


  footer a img{
    border:0;width:88px;height:31px
  }

  .grid{
      display: grid;
}

.cajon{
    display:grid;
  }